.node {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: rgba(0, 190, 218, 0.75);
}
.node-path {
  background-color: yellow;
  animation: pathAnimation 0.5s ease-out;
}
@keyframes pathAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
